/* smart fish stylesheet */

.smart-fish #detail .sec-kill {
    border: 5px dashed #165D79;
    border-top: 0;
    border-bottom: 0;
    margin-top: 0;
}
.smart-fish #detail .countdown, .smart-fish #detail .secKill-startTime {
    height: 40px;
    line-height: 40px;
    font-size: 27px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    color: #F60;
    border: 5px dashed #165D79;
    border-bottom: 1px dashed #000;
    padding-left: 18px;
}
.smart-fish #detail .countdown {
    border-top: 0;
}
.smart-fish #detail .countdown .server-time, .smart-fish #detail .secKill-startTime .start-time {
    color: #878787; 
}
.smart-fish #detail .countdown .remain-time {
    float: right;
    margin-right: 25px;
}
.smart-fish #detail .secKill-startTime {
    border-bottom: 0;
}
.smart-fish #detail .secKill-startTime .date {
    font-size: 18px;    
}
.smart-fish #detail .answer-input {
    height: 20px;
    padding-bottom: 3px;
    font-size: 15px;
    color: #000;
    outline-style: none;
}
.smart-fish #detail .secKill-log {
    padding: 0 18px; 
    border: 5px dashed #165D79;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
}
.smart-fish #detail .secKill-log .secKill-pay {
    margin: 0 3px;  
    color: #F00;
}
.smart-fish #detail .secKill-log .secKill-pay:hover {
    text-decoration: underline;
}
.smart-fish #detail .spend-time {
    padding: 0 18px; 
    border: 5px dashed #165D79;
    border-top: 0;
}
.smart-fish #detail .spend-time h2, .smart-fish #detail .secKill-log h2{
    font-size: 20px; 
    font-weight: normal;
}
.smart-fish #detail .spend-time .answer-time, .smart-fish #detail .secKill-log .log td {
    color: #FA1803;
    margin-right: 5px;
}
.smart-fish #detail .spend-time table, .smart-fish #detail .secKill-log table {
    width: 100%;
}
.smart-fish #detail .spend-time tr, .smart-fish #detail .secKill-log tr {
    height: 30px;
}
.smart-fish #detail .spend-time td, .smart-fish #detail .secKill-log td {
    width: 50%;
}
.smart-fish #detail .secKill-log .log td {
    padding-left: 3px;
}
.smart-fish #detail .secKill-log .secKillLog-cont {
    /*max-height: 30px;
    overflow: hidden;*/
    transition: 1s height ease;
}
.quest-img {
    width: 320px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    border: 1px dashed #C2BDBD;
    color: #F40;
    overflow: hidden;
}
.quest-img img {
    vertical-align: middle;
    margin-top: -4px;
}
.results-msg {
    display: none; 
}
